@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple");
body {
    margin: 0;
    height: 100%;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

img {
  margin-top: 10px;
  width: 130px;
}

.profile {
  text-align: center;
}

.bio {
  margin-top: -12px;
}

.detail p {
  text-align: left;
}

#desc {
  margin-top: 25px;
}

#gigs {
  margin-top: 100px;
}

.card .harga {
  margin-left: 250px;
}

footer {
  text-align: center;
}

footer h6 {
  color: #c9c9c9;
}